<div class="twfeedify-wrapper">
  <div class="twfeedify" data-width="{{ block.settings.width }}" data-height="{{ block.settings.height }}" data-theme="{{ block.settings.theme }}">
  </div>
  {% if block.settings.html_embed.size > 0 %}
  <div class="twfeedify-html">
    {{ block.settings.html_embed }}
  </div>
  {% endif %}
</div>
<style>
  .twfeedify-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: {{  block.settings.height }}px;
  }
  .twfeedify{
    width: {{  block.settings.width }}px;
    max-width: 100%;
    margin: auto;
  }
  .twfeedify-html{
    width: calc(100% - {{  block.settings.width | plus: 10 }}px);
    margin-left: 10px;
    max-width: 100%;
  }
  {{ block.settings.css_embed }}
</style>
{% schema %}
{
  "name": "TWfeedify",
  "target": "section",
  "settings": [
    {
      "type": "range",
      "id": "width",
      "label": "Width",
      "default": 1200,
      "min": 0,
      "max": 1200,
      "step": 100,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "height",
      "label": "Height",
      "default": "500px"
    },
    {
      "type": "select",
      "id": "theme",
      "label": "Theme",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "light"
    },
    {
      "type": "html",
      "id": "html_embed",
      "label": "Customize HTML"
    },
    {
      "type": "html",
      "id": "css_embed",
      "label": "Customize CSS"
    }
  ]
}
{% endschema %}
